<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>查询条件</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">用户ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="UID" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">请求方法</label>
                            <div class="layui-input-inline">
                                <input type="text" name="method" autocomplete="off" class="layui-input">
                            </div>
                        </div>
						
						
						<div class="layui-inline">
						    <label class="layui-form-label">URL</label>
						    <div class="layui-input-inline">
						        <input type="text" name="URL" autocomplete="off" class="layui-input">
						    </div>
						</div>

						
						<div class="layui-inline">
						    <label class="layui-form-label">描述</label>
						    <div class="layui-input-inline">
						        <input type="text" name="desc" autocomplete="off" class="layui-input">
						    </div>
						</div>
						
						<div class="layui-inline">
						    <label class="layui-form-label">登陆时间</label>
						    <div class="layui-input-inline">
						        <input type="text" id="startTime" name="time" autocomplete="off" class="layui-input">
						    </div>
						</div>

						
						<div class="layui-inline">
						    <label class="layui-form-label">状态</label>
						    <div class="layui-input-inline">
								<select name="status" >
										<option value=""></option>
								        <option value="1">成功</option>
								        <option value="0">失败</option>
								</select>
						    </div>
						</div>

                        <div class="layui-inline">
							<button type="submit" class="layui-btn layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 查 询</button>

							<button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-refresh"></i> 重 置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

       <script type="text/html" id="toolbarUser">
            <div class="layui-btn-container">
			{% if "log:delete" in request.session.permissions %}
                <button class="layui-btn layui-btn-sm layui-btn-primary layui-border-red data-delete-btn" lay-event="multi-del"> 批量删除 </button>
			{% endif %}
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>
		

		<script type="text/html" id="logStatus">
			{% verbatim %}
			{{#  if(d.success == true){ }}
				<span style="color: green">成功</span>
			{{#  } else { }}
				<span style="color: red">失败</span>
			{{#  } }}
			{% endverbatim %}
		</script>

    </div>
</div>
<script src="../../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
			laydate = layui.laydate;
		
		laydate.render({
		  elem: '#startTime',       
			type: 'datetime',      
			format:'yyyy-MM-dd HH:mm:ss', 
		});
		
		var token = "{{ csrf_token }}";
		$.ajaxSetup({
		    headers: { 'X-CSRFTOKEN': `${token}` }, // 这里是headers，不是data,  CSRF
		});
		
		//登陆超时跳转
		$.ajaxSetup({
			complete: function (XMLHttpRequest, textStatus) {
				if (textStatus == "parsererror") {
					layer.msg('登陆过期, 请重新登陆', { icon: 2, time: 2000 }, function () {
						window.location.href = '/';
					})
				} else if (textStatus == "error") {
					$.messager.alert('提示信息', "请求超时！请稍后再试！", 'info');
				}
			}
		});
		
		
        table.render({
            elem: '#currentTableId',
            url: '/log-query',
			method:'post',
            toolbar: '#toolbarUser',
			defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 100, title: '序号', align:'center', sort: true},
				{field: 'fieldID', width: 100, title: 'ID', align:'center', sort: true, hide:true},
				{field: 'userId', width: 100, title: '用户ID', align:'center', sort: true, hide:false},
				{field: 'method', width: 100, title: '请求方法', align:'center', sort: true},
                {field: 'url', width: 120, title: '请求URL', align:'center', sort: true},
				{field: 'ip', width: 180, title: 'IP',align:'center',sort: true},
				{field: 'time', width: 200, title: '登陆时间',align:'center'},
                {field: 'userAgent', title: '用户代理', width: 280, minWidth: 150, align:'center', sort: true},
				{field: 'desc', width: 420, title: '操作信息',align:'center', edit:'text',sort: true},
				{field: 'success', width: 100, title: '是否成功',align:'center',sort: true, templet: '#logStatus'},
                // {title: '操作', minWidth: 0, toolbar: '#currentTableBar1', align: "center"}
				
            ]],
            limits: [10, 20, 50, 100, 200, 500],
            limit: 10,
            page: true,
            skin: 'row',
			even: true
			
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
			// console.log(data.field);
            var result = JSON.stringify(data.field);

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    Params:result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '新增',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['40%', '80%'],
                    content: '/power/power-add',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'multi-del') {  // 监听multi-del操作
				var checkStatus = table.checkStatus('currentTableId');
				var data = checkStatus.data;
				if (data.length === 0) {
				  layer.msg('未选中数据', {
				    icon: 3,
				    time: 1000
				  })
				  return false
				} else {
					layer.confirm('真的删除选中行吗?', {icon: 3, title:'确认删除'}, function (index) {
					    layer.close(index);
						
						if (data.length === 0) {
						  layer.msg('请选择需要删除的数据!', {
						    icon: 3,
						    time: 1000
						  })
						  return false
						}
						//传给后台
						$.ajax({
							url:"/log-delete",
							type:"post",
							data:{Params:JSON.stringify(data)},
							success:function(result){
								if (result.success){
									// layer.msg(result.msg);
									layer.msg(result.msg, { icon: 1, time: 2000 }, function () {
									  parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
									  table.reload('currentTableId');  //表格重载
									})
								}
								else{
									layer.msg(result.msg);
								}
								
							},
							error:function(result){
								alert("接口错误！！");
							}
						});
						return false;
					});
					
				}
            } else if (obj.event=== 'refresh'){
				window.refresh()
			}

        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });	

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {			
                var index = layer.open({
                    title: '编辑',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['40%', '80%'],
                    content: '/power/power-edit-page',
					success: function(layero, index){
					    var body = layer.getChildFrame('body', index);
					    // var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
					    // console.log(data); //得到iframe页的body内容
						body.find("input[name='powerId']").val(data.powerId);
						body.find("input[name='powerName']").val(data.powerName);
						body.find("input[name='powerCode']").val(data.powerCode);
						body.find("input[name='icon']").val(data.icon);
						body.find("input[name='sort']").val(data.sort);
						// 通过ID更新
						body.find("#openType").val(data.powerType);
						body.find("#enable").val(data.enable);
						// 重新渲染
						var iframeWindow = layero.find('iframe')[0].contentWindow;
						iframeWindow.layui.form.render();						
					  }
                });
				
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么?', {icon: 3, title:'确认删除'}, function (index) {
					// console.log(obj);
                    obj.del();
                    layer.close(index);
					//传给后台
					$.ajax({
						url:"/power/power-delete",
						type:"post",
						data:obj.data,
						success:function(result){
							if (result.success){
								layer.msg(result.msg);
							}
							else{
								layer.msg(result.msg);
							}
							
						},
						error:function(result){
							alert("接口错误！！");
						}
					});
					return false;
					
                });
            }else if (obj.event === 'refresh') {
				console.log(obj);
				window.refresh()
				}
			
        });
		
		
		
		
	

    });
</script>

</body>
</html>