<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="./../../static/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>查询条件</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">角色ID</label>
                            <div class="layui-input-inline">
                                <input type="text" name="roleID" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        
                        <div class="layui-inline">
                            <label class="layui-form-label">名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="codeName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
						
						<div class="layui-inline">
						    <label class="layui-form-label">中文名称</label>
						    <div class="layui-input-inline">
						        <input type="text" name="roleName" autocomplete="off" class="layui-input">
						    </div>
						</div>

						<div class="layui-inline">
						    <label class="layui-form-label">是否启用</label>
						    <div class="layui-input-inline">
								<select name="enable">
										<option value=""></option>
								        <option value="1">启用</option>
								        <option value="0">禁用</option>
								</select>
						    </div>
						</div>
						
						<div class="layui-inline">
						    <label class="layui-form-label">备注</label>
						    <div class="layui-input-inline">
						        <input type="text" name="remark" autocomplete="off" class="layui-input">
						    </div>
						</div>

                        <div class="layui-inline">

							<button type="submit" class="layui-btn layui-btn-normal"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 查 询</button>

							<button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-refresh"></i> 重 置</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarUser">
            <div class="layui-btn-container">
				{% if "role:add" in request.session.permissions %}
					<button class="layui-btn layui-btn-primary layui-border-green layui-btn-sm data-add-btn" lay-event="add"> 新增 </button>
				{% endif %}
				
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
		
			{% if "role:power" in request.session.permissions %}
				<a class="layui-btn layui-btn-primary layui-border-green layui-btn-xs data-count-edit" lay-event="power">权限</a>
			{% endif %}
			
			{% if "role:delete" in request.session.permissions %}
				<a class="layui-btn layui-btn-xs layui-btn-primary layui-border-red data-count-delete" lay-event="delete">删除</a>
			{% endif %}

            
        </script>
		

    </div>
</div>
<script src="../../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
		
		var token = "{{ csrf_token }}"
		$.ajaxSetup({
		    headers: { 'X-CSRFTOKEN': `${token}` }, // 这里是headers，不是data,  CSRF
		});
		
		var userID = $("#login_user", parent.document).text();
		
		//登陆超时跳转
		$.ajaxSetup({
			complete: function (XMLHttpRequest, textStatus) {
				if (textStatus == "parsererror") {
					layer.msg('登陆过期, 请重新登陆', { icon: 2, time: 2000 }, function () {
						window.location.href = '/';
					})
				} else if (textStatus == "error") {
					$.messager.alert('提示信息', "请求超时！请稍后再试！", 'info');
				}
			}
		});

        table.render({
            elem: '#currentTableId',
            url: '/role-query',
			method:'post',
            toolbar: '#toolbarUser',
			defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 100, title: '序号', align:'center', sort: true, hide:false},
				{field: 'roleID', width: 100, title: 'ID', align:'center', sort: true, hide:true},
				{field: 'roleValue', width: 100, title: '角色ID', align:'center', sort: true, edit:'text'},
				{field: 'roleCode', width: 200, title: '名称', align:'center', sort: true, edit:'text'},
                {field: 'roleName', width: 200, title: '中文名称', align:'center', sort: true, edit:'text'},
                {field: 'remark', width: 360, title: '权限说明',align:'center', sort: true, edit:'text'},
				{% if "role:enable" in request.session.permissions %}
				{field: 'enable', width: 180, title: '是否启用',align:'center',sort: true, templet: function (res) {
					if (res.enable == 1) {
						return '<input type="checkbox" checked="checked" lay-filter="role-enable" lay-skin="switch" lay-text="启用|禁用" roleID=' + res.roleID + '>'
					} else {
						return '<input type="checkbox" lay-filter="role-enable" lay-skin="switch" lay-text="启用|禁用" roleID=' + res.roleID + '>'
					}
				  },
				},
				{% endif %}

                {title: '操作', minWidth: 200, toolbar: '#currentTableBar', align: "center"}
				
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'row',
			even: true
			
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
			console.log(data.field);
            var result = JSON.stringify(data.field);

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    Params:result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '新增',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['40%', '50%'],
                    content: '/role-add',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'multi-del') {  // 监听multi-del操作
				layer.confirm('真的删除选中行吗?', {icon: 3, title:'确认删除'}, function (index) {
				    layer.close(index);
					var checkStatus = table.checkStatus('currentTableId'), data = checkStatus.data;
					//传给后台
					$.ajax({
						url:"/role-multi-delete",
						type:"post",
						data:{delParam:JSON.stringify(data)},
						success:function(result){
							if (result.success){
								layer.msg(result.msg);
							}
							else{
								layer.msg(result.msg);
							}
							
						},
						error:function(result){
							alert("接口错误！！");
						}
					});
					// window.parent.location.reload();
					return false;
					
					
				});
            }else if (obj.event === 'refresh') {
				window.refresh()
				}
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {			
                var index = layer.open({
                    title: '编辑',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['40%', '60%'],
                    content: '/role/role-edit-page',
					success: function(layero, index){
					    var body = layer.getChildFrame('body', index);
					    // var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
						body.find("input[name='roleID']").val(data.id);
						body.find("input[name='roleCode']").val(data.roleCode);
						body.find("input[name='roleName']").val(data.roleName);
						body.find("input[name='remark']").val(data.remark);
						// 通过ID更新
						
						body.find("#enable").val(data.enable);
						// 重新渲染
						var iframeWindow = layero.find('iframe')[0].contentWindow;
						iframeWindow.layui.form.render();	
					  }
                });
				
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'power') {			
                var index = layer.open({
                    title: '权限管理',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['80%', '100%'],
                    content: '/role-power',
					success: function(layero, index){
						console.log(userID);
						var body = layer.getChildFrame('body', index);
						body.find('#roleId').val(data.roleID);
						body.find('#roleName').val(data.roleCode);
						var iframe = window['layui-layer-iframe' + index];
						// 调用子页面role_power的全局函数getRolePower
						iframe.getRolePower(data.roleID, userID);
					  }
                });
				
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么?', {icon: 3, title:'确认删除'}, function (index) {
					// console.log(obj);
                    obj.del();
                    layer.close(index);
					//传给后台
					$.ajax({
						url:"/role-delete",
						type:"post",
						data:obj.data,
						success:function(result){
							if (result.success){
								layer.msg(result.msg, { icon: 1 });
							}
							else{
								layer.msg(result.msg, { icon: 2 });
							}
							
						},
						error:function(result){
							alert("接口错误！！");
						}
					});
					return false;
					
                });
            }
        });
		
		
		table.on('edit(currentTableFilter)', function(obj){ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
		  // console.log(obj.value); //得到修改后的值
		  // console.log(obj.field); //当前编辑的字段名
		  console.log(obj.data); //所在行的所有相关数据  
		  //传给后台
		  $.ajax({
		  	url:"/role-cell-edit",
		  	type:"post",
		  	data:{
				field:obj.field,
				value:obj.value,
				fieldID:obj.data.roleID
			},
		  	success:function(result){
		  		if (result.success){
		  			layer.msg(result.msg, { icon: 1});
		  		}
		  		else{
		  			layer.msg(result.msg, { icon: 2});
		  		}
		  		
		  	},
		  	error:function(result){
		  		alert("接口错误！！");
		  	}
		  	});
		  return false;
		  

		});
		
		// 监听开关
		form.on('switch(role-enable)', function (obj) {
		  // console.log(obj.elem.attributes['roleID'].nodeValue);
		  // console.log(obj);
		  let roleId=obj.elem.attributes['roleID'].nodeValue;
		  
		  let operate
		  if (obj.elem.checked) {
		    operate = 'enable'
		  } else {
		    operate = 'disable'
		  }
		  let loading = layer.load()
		
		  $.ajax({
		  	url:"/role-enable",
		  	type:"post",
		  	data:{
		  		roleID:roleId,
		  		enableValue:operate
		  			},
		  	success:function(result){
				layer.close(loading)
		  		if (result.success){
		  			layer.msg(result.msg, { icon: 1} );
		  		}
		  		else{
		  			layer.msg(result.msg, { icon: 2} );
		  		}
		  	},
		  	error:function(result){
		  		alert("接口错误！！");
		  	}
		  	});
		  return false;
		
		})
		
		// window.refresh = function (param) {
		//   table.reload('currentTableId', { where: params })
		// }
		
		

    });
</script>

</body>
</html>