<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
	<div class="layui-form-item">
		<h2 align="center">角色编辑</h2>
	</div>
    <div class="layui-form-item">
        <label class="layui-form-label required">工号</label>
        <div class="layui-input-block">
            <input type="text" name="userID" lay-verify="required" lay-reqtext="工号不能为空" disabled="disabled" value="{{userid}}" class="layui-input" id="userid">
            <!-- <tip>填写自己管理账号的名称。</tip> -->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">角色</label>
        <div class="layui-input-block">
			<select name="role" id="role" lay-verify="required" lay-reqtext="角色不能为空">
			</select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>

<script>
	function updateForm(data) {
		console.log(data);
		layui.use(['form', 'table'], function () {
			var $ = layui.jquery,
				form = layui.form;
			
			$("input[name='userID']").val(data.userID);
			
			$(function(){   //js 加载时，AJAX请求
				  $.ajax({
					url:'/user-role-query',
					type:'post',
					dataType:'json',
					success:function(result){
						var list = result.data;
						var str = "<option value=''></option>"
						for (var i=0; i<list.length;i++) {
							str += "<option value=\""+list[i].roleID+"\">"+ list[i].roleName+"</option>"
						}
					    // console.log(str);
						$('#role').html(str);
						$('#role option').filter(function(){return $(this).val()==""+data.role+"";}).attr("selected",true); //精确匹配
						form.render('select')   //重新渲染 form select内容
					},
					error:function(){
						layer.msg('部门查询API出错！');
					}
				})
			});
		});

	}
	
</script>

<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
		
		var token = "{{ csrf_token }}";
		$.ajaxSetup({
		    headers: { 'X-CSRFTOKEN': `${token}` }, // 这里是headers，不是data,  CSRF
		});
		
        //监听提交
        form.on('submit(saveBtn)', function (data) {
			
			//传给后台
			$.ajax({
				url:"/user-role-edit",
				type:"post",
				data:data.field,
				success:function(result){
					if (result.success){
						layer.msg(result.msg, { icon: 1, time: 2000 }, function () {
						  parent.layer.close(parent.layer.getFrameIndex(window.name))//关闭当前页
						  parent.layui.table.reload('currentTableId')
						})
					}
					else{
						layer.alert(result.msg);
					}
					
				},
				error:function(result){
					alert("接口错误！！！");
				}
				});
			
			return false;
			
        });

    });
</script>
</body>
</html>